<div class="text-center mat-bg-primary pt-1 pb-1">
  <h6 class="m-0">Notifications</h6>
</div>
<mat-nav-list class="notification-list" role="list">
  <!-- Notification item -->
  <mat-list-item *ngFor="let n of items" class="notific-item" role="listitem" routerLinkActive="open">
    <mat-icon [color]="primary" class="notific-icon">assignment_ind</mat-icon>
    <a routerLink="/manage/requests">
      <div class="mat-list-text">
        <h4 class="message">New request for {{n.Name}}</h4>
        <small class="time text-muted">{{n.Date}}</small>
      </div>
    </a>
  </mat-list-item>
</mat-nav-list>
<div class="text-center mt-1" *ngIf="!length">
  <small>No notifications to display</small>
</div>