.green{
color:green;
}
.red{
color:red;
}
.in{
display:inline-block;
}
img {
    max-width: 25% !important;
} 
img[_ngcontent-c21] {
    max-width: 25% !important;
    border-radius: 20px 20px 20px 20px;
}





