<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
		<!-- <div fxFlex="100" class="pr-1"> -->
			<!-- <mat-form-field class="full-width"> -->
			  <!-- <mat-label>Select an Usertype</mat-label> -->
			  <!-- <mat-select [(value)]="selected" name="Usertype" [formControl]="itemForm.controls['Usertype']" (selectionChange)="changeusertype($event)"> -->
				<!-- <mat-option>--Select--</mat-option> -->
				<!-- <mat-option value="Member">Member</mat-option> -->
				<!-- <mat-option value="Organization" *ngIf="usertype=='Admin'">Organization</mat-option> -->
				<!-- <mat-option value="Auditor">Auditor</mat-option> -->
			  <!-- </mat-select> -->
			<!-- </mat-form-field> -->
			<!-- <small *ngIf="itemForm.controls['Usertype'].hasError('required') && itemForm.controls['Usertype'].touched" class="form-error-msg">Usertype is required.</small> -->
		<!-- </div> -->
		
		
		<div fxFlex="100" class="pr-1" *ngIf="url=='Auditor' ">
		
			<mat-form-field class="full-width">
              <input
                matInput
                
                name="Refferal"
				readonly
				[formControl]="itemForm.controls['Refferal']"
                placeholder="Organization GUID"
                >
            </mat-form-field>
			<!-- <small *ngIf="url=='Auditor' && itemForm.controls['Refferal'].hasError('required') && itemForm.controls['Refferal'].touched" class="form-error-msg">GUID is required.</small> -->
		</div>
		<div fxFlex="100" class="pr-1" *ngIf="url== 'Organization'">
		
			<mat-form-field class="full-width">
              <input
                matInput
                
                name="GUID"
				readonly
				[formControl]="itemForm.controls['GUID']"
                placeholder="Organization GUID"
                >
            </mat-form-field>
			<!-- <small *ngIf="url=='Auditor' && itemForm.controls['Refferal'].hasError('required') && itemForm.controls['Refferal'].touched" class="form-error-msg">GUID is required.</small> -->
		</div>
		<div fxFlex="50"  class="pr-1">
		  <mat-form-field class="full-width">
			<input
			matInput
			name="Fname"
			[formControl]="itemForm.controls['Fname']"
			placeholder="First Name">
		  </mat-form-field>
		  <small *ngIf="itemForm.controls['Fname'].hasError('required') && itemForm.controls['Fname'].touched" class="form-error-msg">First Name is required.</small>
		</div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="Lname"
        [formControl]="itemForm.controls['Lname']"
        placeholder="Last Name">
      </mat-form-field>
	  <small *ngIf="itemForm.controls['Lname'].hasError('required') && itemForm.controls['Lname'].touched" class="form-error-msg">Last Name is required.</small>
    </div>

    <div fxFlex="50"  class="pr-1" *ngIf="data.payload.ID">
      <mat-form-field class="full-width">
        <input
        matInput
        type="text"
		readonly
        name="Username"
        [formControl]="itemForm.controls['Username']"
        placeholder="Username">
      </mat-form-field>
	  <small *ngIf="itemForm.controls['Username'].hasError('required') && itemForm.controls['Username'].touched" class="form-error-msg">Username is required.</small>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        type="email"
        name="Email"
        [formControl]="itemForm.controls['Email']"
        placeholder="Email">
      </mat-form-field>
	  <small *ngIf="itemForm.controls['Email'].hasError('required') && itemForm.controls['Email'].touched" class="form-error-msg">Email is required.</small>
    </div>

    <div fxFlex="50"  class="pr-1" *ngIf="!data.payload.ID">
      <mat-form-field class="full-width">
        <input
        matInput
		type="password"
        name="Password"
        [formControl]="itemForm.controls['Password']"
        placeholder="Password">
      </mat-form-field>
		 <small *ngIf="itemForm.controls['Password'].hasError('required') && itemForm.controls['Password'].touched" class="form-error-msg">Password is required.</small>
    </div>
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="Address"
        [formControl]="itemForm.controls['Address']"
        placeholder="Address">
      </mat-form-field>
	  <small *ngIf="itemForm.controls['Address'].hasError('required') && itemForm.controls['Address'].touched" class="form-error-msg">Address is required.</small>
    </div>
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="City"
        [formControl]="itemForm.controls['City']"
        placeholder="City">
      </mat-form-field>
	  <small *ngIf="itemForm.controls['City'].hasError('required') && itemForm.controls['City'].touched" class="form-error-msg">City is required.</small>
    </div>
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="State"
        [formControl]="itemForm.controls['State']"
        placeholder="State">
      </mat-form-field>
	  <small *ngIf="itemForm.controls['State'].hasError('required') && itemForm.controls['State'].touched" class="form-error-msg">City is required.</small>
    </div>
    <div fxFlex="50"  class="pr-1">
		<mat-form-field class="full-width">
		  <mat-label>Select Country</mat-label>
		  <mat-select name="Country" [formControl]="itemForm.controls['Country']">
				<mat-select-search #myInput focused="'true'" (keyup)="searchcountry($event.target.value)" autocomplete="off" [placeholderLabel]="'Search Country'"></mat-select-search>
				<mat-divider></mat-divider>
			 <mat-option *ngFor="let country of selectedcountry" [value]="country?.country">{{country?.country}}</mat-option>
		  </mat-select>
		</mat-form-field>
	  <small *ngIf="itemForm.controls['Country'].hasError('required') && itemForm.controls['Country'].touched" class="form-error-msg">Country is required.</small>
    </div>
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
		type="number"
        name="PIN"
        [formControl]="itemForm.controls['PIN']"
        placeholder="PIN">
      </mat-form-field>
	  <small *ngIf="itemForm.controls['PIN'].hasError('required') && itemForm.controls['PIN'].touched" class="form-error-msg">PIN is required.</small>
    </div>
    <div fxFlex="50"  class="pt-1 pr-1">
      <mat-slide-toggle [formControl]="itemForm.controls['Status']">Active Member</mat-slide-toggle>
    </div>



    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>