<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="items"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="10"
          [rowHeight]="'auto'">
          <ngx-datatable-column name="Parking Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Parking State" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.State }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Parking Country" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Country }}
            </ng-template>
          </ngx-datatable-column>
		  <ngx-datatable-column name="Auditor Name" [flexGrow]="1" *ngIf="usertype=='Organization'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Fname }} {{ row?.Lname }}
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="Question" [flexGrow]="1"> -->
            <!-- <ng-template let-row="row" ngx-datatable-cell-template> -->
              <!-- {{ row?.Question }} -->
            <!-- </ng-template> -->
          <!-- </ngx-datatable-column> -->
          <ngx-datatable-column name="Actions" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <a routerLink="/generate/questions/{{random}}{{row.requestID}}" target="_blank" *ngIf="usertype=='Auditor'"><button mat-icon-button mat-sm-button color="primary" matTooltip="Submit Response"><mat-icon>offline_pin</mat-icon></button></a>
			  <button mat-icon-button [disabled]="row.IsPendingApproval != 0" mat-sm-button color="primary" matTooltip="Review Parking" (click)="openPopUp(row)" *ngIf="usertype=='Auditor'"><mat-icon>local_parking</mat-icon></button>
			  <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive" *ngIf="usertype=='Organization' && row.Status==0">Pending</mat-chip>
			  <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive" *ngIf="usertype=='Organization' && row.Status==1">Accepted but not Audited</mat-chip>
			  <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive" *ngIf="usertype=='Organization' && row.Status==2">Audited</mat-chip>
			  <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive" *ngIf="usertype=='Organization' && row.Status==3">Approved</mat-chip>
			  <a routerLink="/generate/report/{{random}}{{row?.requestID}}" target="_blank" *ngIf="usertype=='Organization' && (row.Status==3 || row.Status==2)"><button mat-icon-button mat-sm-button color="primary" matTooltip="Generate Report"><mat-icon>picture_as_pdf</mat-icon></button></a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
  </mat-card-content>
</mat-card>
